html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos {
  height: 95vh;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  max-width: 900px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}
.app__videos::-webkit-scrollbar {
  display: none;
}

.app > h1 {
  color: white;
}
